{
	"name": "elbiniou/livingsource-viewer",
	"description": "Living source",

	"repositories": [
		{"type": "vcs", "url": "https://github.com/ElBiniou/phi-console"},
		{"type": "vcs", "url": "https://github.com/ElBiniou/livingsource"},
		{"type": "vcs", "url": "https://github.com/ElBiniou/phi-filesystem"}
	],
	"require":
	{
		"elbiniou/livingsource": "dev-master",
		"elbiniou/phi-filesystem": "dev-master"
	},
	"autoload": {
		"psr-4": {
			"ElBiniou\\LivingSource\\": "source/class"
		},
		"files": [

		]
	}
}
